<h1>User#welcome_email</h1>

<p>Greetings <%= @user.username %>, </p> 

<p>
Thank you for confirming your email and welcome to DV's Odin Facebook,
a rudimentary Facebook clone created as a student project for the Odin Project's 
full stack web development curriculum. </p>

<p>
Please have a look around and let us know if anything needs to
be worked on!
</p>
