<%= form_for(current_user.sent_requests.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :receiver_id, user.id %></div>
  <%= f.submit yield(:add_button_text), class: "btn btn-primary" %>
<% end %>