
<% relationship = current_user.find_relationship(user).first %>
<%= form_for(relationship,
             html: { method: :delete }) do |f| %>
  <div><%= hidden_field_tag :relationship_id, relationship.id %></div>
  <%= f.submit "Unfollow", class: "btn" %>
<% end %>