<% provide(:title, 'All users') %>
<% provide(:add_button_text, 'Add Friend') %>
<% provide(:delete_button_text, 'Remove Friend') %>

<h1>All users</h1>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

